<section class="education">
    <h1 class="head">Education</h1>
  <div class="wrapper"> 
    <div class="uni-logo">
        <img src="../../assets/Uni_of_cali.png" alt="This is logo of calicut university">
    </div>

    <div class="edu-details">
        <div class="edu-head">
            <h3>CKGM Government College, Perambra</h3>
            <p>2018 - 2021</p>
        </div>
        <div class="edu-content">
            <p><i class="fa-solid fa-bolt"></i>Completed my degree course from Calicut university</p>
            <p><i class="fa-solid fa-bolt"></i>Do have some backlogs</p>

        </div>
    </div>
</div>


  <div class="wrapper"> 
    <div class="uni-logo">
        <img src="../../assets/kerala-edu-img.png"  class="kerala-state">
    </div>

    <div class="edu-details">
        <div class="edu-head">
            <h3>NHSS NEDUVANNUR, VAKAYAD</h3>
            <p>2016 - 2018</p>
        </div>
        <div class="edu-content">
            <p><i class="fa-solid fa-bolt"></i>Completed my Higher Secondary Education in Science Group</p>
        </div>
    </div>
</div>


  <div class="wrapper"> 
    <div class="uni-logo">
        <img src="../../assets/kerala-edu-img.png"  class="kerala-state">
    </div>

    <div class="edu-details">
        <div class="edu-head">
            <h3>GHSS AVITANALLUR</h3>
            <p>2015</p>
        </div>
        <div class="edu-content">
            <p><i class="fa-solid fa-bolt"></i>Completed my Secondary Education with 95% marks</p>
        </div>
    </div>
</div>
</section>
