<section class="projects-section" id="projects">
    <h1 class="head">Projects</h1>
    <div class="all-projects">
        <div class="section1">
            <div class="project-container">
                <h3>Project Name1</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam sint, est officiis praesentium illo quasi ipsa vel iure aperiam architecto!</p>  
                <button><a href="#">Click to preview</a></button>
                <div class="tools-icon">
                    <i class="fa-brands fa-git"></i>
                    <i class="fa-brands fa-angular"></i>
                    <i class="fa-brands fa-html5"></i>
                </div>
            </div>       
            <div class="project-container">
                <h3>Project Name2</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam sint, est officiis praesentium illo quasi ipsa vel iure aperiam architecto!</p>  
                <button><a href="#">Click to preview</a></button>
                <div class="tools-icon">
                    <i class="fa-brands fa-git"></i>
                    <i class="fa-brands fa-angular"></i>
                    <i class="fa-brands fa-html5"></i>
                </div>
            </div>       
            <div class="project-container">
                <h3>Project Name3</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam sint, est officiis praesentium illo quasi ipsa vel iure aperiam architecto!</p>  
                <button><a href="#">Click to preview</a></button>
                <div class="tools-icon">
                    <i class="fa-brands fa-git"></i>
                    <i class="fa-brands fa-angular"></i>
                    <i class="fa-brands fa-html5"></i>
                </div>
            </div>       
        </div>
        <div class="section2">
            <div class="project-container">
                <h3>Project Name4</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam sint, est officiis praesentium illo quasi ipsa vel iure aperiam architecto!</p>  
                <button><a href="#">Click to preview</a></button>
                <div class="tools-icon">
                    <i class="fa-brands fa-git"></i>
                    <i class="fa-brands fa-angular"></i>
                    <i class="fa-brands fa-html5"></i>
                </div>
            </div> 
            <div class="project-container">
                <h3>Project Name5</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam sint, est officiis praesentium illo quasi ipsa vel iure aperiam architecto!</p>  
                <button><a href="#">Click to preview</a></button>
                <div class="tools-icon">
                    <i class="fa-brands fa-git"></i>
                    <i class="fa-brands fa-angular"></i>
                    <i class="fa-brands fa-html5"></i>
                </div>
            </div> 
            <div class="project-container">
                <h3>Project Name6</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam sint, est officiis praesentium illo quasi ipsa vel iure aperiam architecto!</p>  
                <button><a href="#">Click to preview</a></button>
                <div class="tools-icon">
                    <i class="fa-brands fa-git"></i>
                    <i class="fa-brands fa-angular"></i>
                    <i class="fa-brands fa-html5"></i>
                </div>
            </div> 
        </div>
    </div>
</section>