<section class="contact">
    <h1>Contact Me</h1>
<div class="contents">
    <p>You can contact me at the places mentioned below. <br> I am open to collaborate on projects that can impact.</p>
    <div class="social">
        <a target="_blank" href="https://www.linkedin.com/in/sarath-o-s-49478521b" class="fa fa-linkedin media-icon"></a>
        <a target="_blank" href="https://github.com/sarathos584" class="fa fa-github media-icon"></a>
        <a target="_blank" href="https://www.sarathos584@gmail.com" class="fa fa-google media-icon"></a>
        <a href="#" class="fa fa-facebook media-icon"></a>
        <a href="#" class="fa fa-instagram media-icon"></a>
        <a target="_blank" href="https://www.linkedin.com/in/sarath-o-s-49478521b"></a>
    </div>
</div>
</section>
