<section class="skills" id="skills">
    <div class="head">
        <h3>Here is What I do</h3>
    </div>
    <div class="contents">
        <div class="image">
            <img src="../../assets/skills-pic.svg">
        </div>
        <div class="skill-set">
            <div class="skill-head">
                <h1>Full Stack Development</h1>
            </div>
            <div class="skill-icons">
                <div class="icon-set1">
                    <img src="../../assets/html-5-svgrepo-com.svg" >
                    <img src="../../assets/css-3-svgrepo-com.svg">
                    <img src="../../assets/javascript-svgrepo-com.svg">
                    <img src="../../assets/bootstrap-svgrepo-com.svg">
                    <img src="../../assets/angular-svgrepo-com.svg">
                </div>
            <div class="icon-set2">
                <img src="../../assets/jquery-1-logo-svgrepo-com.svg">
                <img src="../../assets/react-svgrepo-com.svg">
                <img src="../../assets/typescript-svgrepo-com.svg">
                <img src="../../assets/mongodb-svgrepo-com.svg">
                <img src="../../assets/nodejs-1-logo-svgrepo-com.svg">
            </div>
            </div>
     </div>
    </div>
    <div class="detail">
        <p><i class="fa-solid fa-bolt"></i><span>Developing beautiful and responsive <span class="stack">Front End</span> using HTML, CSS, BOOTSTRAP / MEDIA QUERY and ANGULAR / REACT </span></p>
        <p><i class="fa-solid fa-bolt"></i><span>Developing strong <span class="stack">Back End</span> with Node.js and Express.js</span></p>
        <p><i class="fa-solid fa-bolt"></i>Connecting database such as <span id="mongoDB">MongoDB</span></p>

    </div>
</section>
