.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.resume button{
    color: var(--font-color);
    background-color: var(--main-color);
    border: none;
    border-radius: .2em;
    outline: none;
    font-size: var(--font-size2);
    margin-top: 1em;
    cursor: pointer;
}
.resume button a{
    text-decoration: none;
    color: var(--font-color);
}
.resume button:hover{
    -webkit-box-shadow: -1px 1px 7px 1px rgba(222,22,222,1);
-moz-box-shadow: -1px 1px 7px 1px rgba(222,22,222,1);
box-shadow: -1px 1px 7px 1px rgba(222,22,222,1);
}